.portfolio {
    padding-top: 100px;
    padding-bottom: 106px;
}

.client__company {
    margin: 0;
    margin-bottom: 44px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    
    color: #303030;
}

.companys {
    margin: 0;
    padding: 0;
}