// .team {
//     padding: 0;
//     padding: 100px 159px;
// }

.pre-team {
    margin: 0;
    margin-bottom: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    
    color: #303030;
}

.team-caption {
    margin: 0;
    margin-bottom: 44px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    
    color: #303030;
}

.team-item {
    margin: 0;
    padding: 0;
}

.professionals {
    margin-bottom: 64px;
}

.excerpt {
    margin: 0;
    margin-bottom: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    // text-align: center;
    letter-spacing: 0.02em;
    
    color: #303030;
}

.subject {
    margin: 0;
    margin-bottom: 30px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    // text-align: center;
    letter-spacing: 0.02em;
    
    color: #FF6C00;
}

.thumb {
    padding: 0;
}
